$bgc: #2b2b2b;

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
    background-color: $bgc;
}

.topbar{
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 50px;
    box-sizing: border-box;

    span{
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        margin-left: 30px;
    }
    .hover{
        padding: 9px 61px;
        border-radius: 15px;
        background: #BFAFF2;
    }
}

.header{
    display: flex;
    padding: 77px 100px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .info{
            color: #fff;
            font-family: Poppins;
            h1{
                font-size: 60px;
                font-style: normal;
                font-weight: 600;
                line-height: 90px;
                width: 465px;
                height: 166px;
            }
            p{  
                margin: 40px 0px 72px ;
                width: 461px;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                opacity: 0.4;
            }
            a{
                width: 175px;
                height: 50px;
                flex-shrink: 0;
                border-radius: 15px;
                background: #F8D57E;
                padding: 9px 36px;
                text-decoration: none;
                color:#333;
            }
        }
    }
    img{
        width: 500px;
        height: 446px;
        flex-shrink: 0;
        background-color: rgba(211, 211, 211, 0.171);
        border-radius: 20px;
        margin-left: 117px;
    }
}

.logos{
    display: flex;
    height: 170px;
    padding: 0px 100px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 66px;
    align-self: stretch;

    img{
        width: 931px;
        height: 35px;
        flex-shrink: 0;
    }
}

.product{
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    .screen{
        border-radius: 20px;
        background: #FDF5DF;
    }

    img{
        width: 1080px;
    }
}